# VSCode
.vscode

# Download and build directory
downloads/
**/build*/
*.prj
# FIM and AFU builds
afu_flow/build/

# Release folder
hitek_release/*

# Auxiliary tmp files
tmp*

# Results
*.csv
*.log

# Simulation files
transcript

# AFU simualtion and build
afu_flow/*_synth
afu_flow/*_ase
obj/
bin/

# Archives
*deb
*rpm
*rpm.1